body {
    background-color: #F4F5F7;
    margin: 0;
}

td {
    font-size: 12px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}

.danger td:nth-child(1) {
    background-color: #ff4242;
}

table td {
    padding: 2px;
    border-right: solid 1px #778ca3;
}

table td:last-child {
    border-right: none;
}

table tr {
    border-top: dashed 1px #778ca3;
}

.BlueMonster {
    background-color: rgb(148, 148, 255);
}

.greenMonster {
    background-color: rgb(0, 216, 115);
}

.yellowMonster {
    background-color: rgb(255, 255, 136);
}

.redMonster {
    background-color: rgb(255, 131, 131);
}

.impMonster {
    font-weight: bold;
}

td div {
    display: none;
}

[value="Rate"]:checked~.main div[data-category~="Rate"],
[value="Hp"]:checked~.main div[data-category~="Hp"],
[value="Attack"]:checked~.main div[data-category~="Attack"],
[value="Defence"]:checked~.main div[data-category~="Defence"],
[value="Special"]:checked~.main div[data-category~="Special"] {
    display: block;
}

[value="Front"]:checked~.main:not([data-category~="Front"]),
[value="Back"]:checked~.main:not([data-category~="Back"]) {
    display: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 55px;
    background: rgba(0, 0, 0, .8);
}

/*  ラジオボタンを非表示に */
input[type="checkbox"],
input[type="radio"] {
    position: absolute;
    left: -9999px;
}

label {
    text-align: center;
    margin: 1em;
    line-height: normal;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.363);
    vertical-align: middle;
}

label:hover {
    color: rgb(190, 190, 190);
}

[value="Rate"]:checked~header label[for="Rate"],
[value="Hp"]:checked~header label[for="Hp"],
[value="Attack"]:checked~header label[for="Attack"],
[value="Defence"]:checked~header label[for="Defence"],
[value="Special"]:checked~header label[for="Special"],
[value="Front"]:checked~header label[for="Front"],
[value="Back"]:checked~header label[for="Back"] {
    color: #fff;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}